*{
    margin: 0;
    padding: 0;
    /* 可以查看各區域邊框 */
    border: 0.5px solid rgba(63, 60, 60, 0);
    /* 字體 ff */
    font-family: 微軟正黑體;
    /* 字體顏色 c#fff(xxx裡面填顏色代碼,ex:白色fff) */
    color: #ffffff;

}

body,html{
    height: 100%;
    /* 背景來源 bgi */
    background-image: url(https://images.unsplash.com/photo-1496318447583-f524534e9ce1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1405&q=80);
    /* 背景尺寸 bgs */
    background-size: cover; 
}

/* 盒子區塊 */
#box{
    background-color:rgba(0,0,0,0);
    height: 500px;
    width: 65%;
    margin: 90px auto 0;
}

/* 導覽列區塊 */
nav a{
    /* 增加下底框線 */
    border-bottom: 1.5px solid #fff;
    padding: 8px;
}

#logo{
    /* 字體大小 fz2e(2倍) */
    font-size: 1.7em; 
    /* 字體變粗 */
    font-weight: bold;
}

nav div{
    float: right;
}

/* 滑動的效果 */
nav a:hover{
    background-color: rgba(28, 39, 32, 0.5);
}
a{
    /* 文字裝飾 td - 將連結底線消失*/
    text-decoration: none;
}

/* 內容區域 */

h1{
    text-shadow: 0 5px 4px rgba(0,0,0,0.8);
    font-size: 2.8em;
    margin-top: 150px;
}

#content{
    width: 50%;
}
#content p{
    margin:50px 0 60px 0;
    text-shadow: 0 5px 4px rgba(0,0,0,0.8);
}
#content a{
    border: 0.5px solid #fff;
    padding: 15px 20px;
    background-color: rgba(28, 39, 32, 0.7);
}
#content a:hover{
    background-color: rgba(255, 255, 255, 0);
}
hr{
    width: 480px;
    margin-top: 40px;
    height: 3px;
    background-color: #fff;
    border: none;
}

/* 按鈕區域 */
#button{
    text-align: center;
}
#button a{
    border: 3px solid #fff;
    padding: 30px;
    background-color: rgba(28, 39, 32, 0.7);
    /* 邊框圓角 */
    border-radius: 50% ;
    display: inline-block; 
    margin-top: 40px;
}
#button a:hover{
    background-color: rgba(255, 255, 255, 0); 
}
.button-mr{
    margin-right: 90px;
}

footer{
    position: fixed;
    background-color: rgba(28, 39, 32, 0.3);
    bottom: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 50px;
    line-height: 50px;
}


/* about 區域 */
/* 內容區域 */

#about{
    background-image: url(https://images.unsplash.com/photo-1523642456391-c597480dbdb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    width: 100%;
    height: 600px;
    text-align: center;
    line-height: 600px;
    background-size: cover;
    margin-top: 50px;
    border: 30px solid white;
    text-shadow: 0 5px 4px rgba(0,0,0,0.8);
}


/* story 區域 */
/* 內容區域 */
#story{
    margin-top:100px;
}
.drink{
    background-image: url(https://images.unsplash.com/photo-1552954705-919be8308bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    width: 48%;
    height: 500px;
    background-size: cover;
    float: left;
    text-align: center;
    line-height: 200px;
    text-shadow: 0 5px 4px rgba(0,0,0,0.8);
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 20%;
    margin-right: 10px; 
}
.coffee{
    background-image: url(https://images.unsplash.com/photo-1462917882517-e150004895fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    width: 48%;
    height: 500px;
    background-size: cover;
    float: left;
    text-align: center;
    line-height: 200px;
    text-shadow: 0 5px 4px rgba(0,0,0,0.8);
    border: 0.5px solid rgba(0, 0, 0, 0.5); 
    border-radius: 20%; 
}

/* contact us 區域 */

/* 內容區域 */
label {
    font-size: 18px;
  }
form {
    background-color: rgba(0, 0, 0,0.5);
    width: 90%;
    height: 550px;
    margin: 80px auto 0 auto;
    padding: 40px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }
  
  #name, #email, #message {
    width: 100%;
    padding: 10px 5px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0,0.5);
  }

  .btn {
    width: 30%;
    height: 50px;
    font-size: 16px;
    background-color: rgba(0, 0, 0,0.5);
    font-weight: 500;
    margin: 10px;
  }
  
  #button {
    text-align: center;
    margin-top: 10px;
  }
  
  /* 預留文字 */
  ::placeholder {
    color: #ccc;
  }
